/* Sign Up Section */
#menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-size: inherit;
  z-index: -1;
}

#category-background {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: -1;
}

#category-background img {
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

h1.cat-name {
  position: absolute;
  margin: 20% auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}

#original h1 {
  color: olive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-text-stroke: 2px black;
  align-items: right;
  margin: 30% auto 60% auto;
  left: 10vw;
}

#seasonal h1 {
  color: white;
  right: 10vw;
  -webkit-transition: -webkit-transform 4s;
}

#seasonal h1.hide {
  -webkit-transform:translateY(10000px);
}

img.original {
  width: 100vw;
  border-bottom: solid 15px black;
  border-radius: 0 0 15% 15%;
}

img.seasonal {
  width: 100vw;
  border-radius: 15% 15% 0 0;
  -webkit-transition: -webkit-transform 4s;
}

img.seasonal.hide {
  -webkit-transform:translateY(10000px);
}

h1.cat-name {
  position: absolute;
}

#spacing.container {
  display: none;
}

#original,
#seasonal {
  opacity: 0.2;
  z-index: 1;
}

#original:hover,
#seasonal:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  #category-background::after,
  #category-background img,
  #category-background h1 {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 750px) {
  #category-background,
  #category-background::after,
  #category-background img,
  #category-background h1 {
    max-width: 100vw;
  }
}

@media only screen and (max-width: 530px) {
  h1.cat-name {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
  }

  #original,
  #seasonal {
    opacity: 0.7;
    z-index: 1;
  }

  #original h1 {
    color: #c27c7c;
    -webkit-text-stroke: 0;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.11),
                -2px 2px 2px rgba(0,0,0,0.11),
                -4px 4px 4px rgba(0,0,0,0.11);
  }

  #seasonal h1 {
    text-shadow: -1px 1px 1px rgba(0,0,0,0.11),
                -2px 2px 2px rgba(0,0,0,0.11),
                -4px 4px 4px rgba(0,0,0,0.11);
  }

  img.seasonal {
    width: 100vw;
    border-radius: 15%;
  }
}
